# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment variables
.env

# SQLite database
db.sqlite3

# Media uploads
media/

# Static files collected
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db